.App {
  width: 100vw;
}

.container {
  display: flex;
  /* margin-top: 10px; */
}

.link {
  text-decoration: none;
  color: inherit;
}

.marks {
  position: relative;
}

.marks .land {
  fill: gainsboro;
  stroke: white;
  stroke-width: 1.5px;
}
.marks .land:hover {
  fill: orange;
}
